*{
    margin: auto;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

/* body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: honeydew;

} */

.about-section{
    /* background: url('../../images/tara.jpg') no-repeat left; */
    /* background-size: 55%; */
    background-color: #f0ecec;
    /* overflow: hidden;
    padding: 100px 0;
    margin-left: 1px;
    padding: 0;
    margin: auto;  */
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    position: relative;

}

.image-section  {
    background: url('../../images/tara.jpg') no-repeat;
    /* background-size: 50%; */
    width: 100%;
    /* max-width: 100%; */
    height: 500px;
    /* background: url(${ImgBg}) no-repeat center/cover; */
    margin-left: 50px;

}

.image-section > img  {
    /* background: url('../../images/tara.jpg') no-repeat left; */
    background-size: 55%;
    width: 100%;
    /* max-width: 50%; */
    height: 500px;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #f0ecec;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;

}

.text{
    font-size: 15px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;

}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;

}

@media screen and (max-width: 1200px) {
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width: 1000px) {
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width: 600px) {
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

.info {
    height: 100px;
    margin-left: 10px;
    font-family: serif;
}

.organic {
    color: #fff;
    font-size: 50px;
    font-family: serif;
    text-align: center;
    margin-bottom: 50px;
}

.logo {
    display: flex;
    margin-left: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo2 {
    display: flex;
    margin-left: 70px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo2 >  img{
    width: 100px;
    height: 65px;

}



.logo > a > img{
    width: 100px;
    height: 65px;

}

.ourTeam {
    overflow: hidden;
    text-align: center;
    padding: 60px;
    background: #fdfdfd;

}

.section2 {
    max-width: 1000px;
    display: flex;
    align-items: center;
    grid-gap: 50px;
    padding: 0 50px;
    margin-bottom: 50px;
    margin: 0 auto;


}

.one {
    display: flex;
    object-fit: cover;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    margin-top: 24px;
    padding-top: 20px;
    transition: all 0.2s ease-in-out;
}

.Sp {
    color: #09b162;
    font-weight: bolder;
    font-size: 24px;
}